body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
  flex: 1 1 auto;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  width: 300px;
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  gap: 8px;
}

.sidebar a {
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 300px;
}

.content {
  display: flex;
  flex: 1 1 84vh;
}

.cards-section {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}